# Database
SPRING_DATASOURCE_PASSWORD=<password>
SPRING_DATASOURCE_URL=<jdbc:postgresql://postgres:5432/monolith>
SPRING_DATASOURCE_USERNAME=<username>
POSTGRES_USER=<username>
POSTGRES_PASSWORD=<password>
POSTGRES_DB=monolith

# Admin
ADMIN_EMAIL=<email>
ADMIN_PHONE=<phone>

# Security
AUTH_SECRET=<secret>
CORS_ORIGINS=<origins>
APP_BOOTSTRAP_TOKEN=<REQUIRED_SECURE_RANDOM_TOKEN>

# Mail
## Gmail, uncomment to enable
# SPRING_MAIL_USERNAME=<username>
# SPRING_MAIL_PASSWORD=<password>
# SPRING_MAIL_HOST=smtp.gmail.com
# SPRING_MAIL_PORT=587
# SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=true

## Mailhog for local testing, comment to disable
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
SPRING_MAIL_HOST=localhost
SPRING_MAIL_PORT=1025
SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH=false
SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE=false

# S3
AWS_ACCESS_KEY=<access_key>
AWS_SECRET_KEY=<secret_key>
AWS_REGION=<region>
AWS_S3_ENDPOINT=<endpoint>
SPRING_CLOUD_AWS_S3_PATHSTYLEACCESSENABLED=true
S3_BUCKET_NAME=<bucket_name>
S3_GET_LINK_EXPIRY_MINUTES=10
S3_UPLOAD_LINK_EXPIRY_MINUTES=2